@charset "utf-8";

/* 共通部分 */
.common-inner {
    box-sizing: border-box;
    width: 960px;
    margin: 0 auto;
    padding: 50px;
}

/* ヘッダー */
.page-header {
    background-image: url(../images/bg-main_visual.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    padding-top: 40%;
}

.page-header__logo {
    position: absolute;
    bottom: 60px;
    left: 60px;
}

/* メイン */
main {
    background-color: #fffff3;
}

/* イントロ */
.intro {
    text-align: center;
    padding: 100px;
}

.intro__title {
    font-size: 3.2rem;
    font-weight: bolder;
    line-height: 1.0;
    padding-bottom: 50px;
}

.intro__text {
    font-size: 1.6rem;
}

/* セクション */
.section-title {
    text-align: center;
    font-weight: bolder;
    font-size: 3.2rem;
    line-height: 1.0;
    padding: 100px 0 30px;
}

/* 使い方セクション */
.usage-section {
    background-image: url(../images/bg-content.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 100px;
}

.usage-section__title {
    color: #fff;
    padding-bottom: 50px;
}

.usage-section__inner {
    background-color: #00000055;
}

.photo-text-block {
    display: flex;
}

.photo-text-block > * {
    width: 50%;
}

.photo-text-block:nth-child(even) {
    flex-direction: row-reverse;
}

.photo-text-block__image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

.photo-text-block:nth-child(1) .photo-text-block__image {
    background-image: url(../images/img-working.jpg);
}

.photo-text-block:nth-child(2) .photo-text-block__image {
    background-image: url(../images/img-meeting_room.jpg);
}

.photo-text-block:nth-child(3) .photo-text-block__image {
    background-image: url(../images/img-drip_machine.jpg);
}

.photo-text-block:nth-child(4) .photo-text-block__image {
    background-image: url(../images/img-bar_w2.jpg);
}

.photo-text-block__text {
    background-color: #fffff3;
    padding: 0 20px 40px 20px;
    box-sizing: border-box;
}

.photo-text-block__text h3 {
    font-size: 2.0rem;
    font-weight: bolder;
    line-height: 1.8;
    padding: 40px 0 20px;
}

.photo-text-block__text p {
    font-size: 1.6rem;
    line-height: 1.8;
}

/* 導入企業セクション */


/* フッター */
.page-footer {
    background-color: #000;
    color: #fff;
    padding: 18px 10px;
    display: flex;
    justify-content: space-between;
}

.page-footer__copyright {
    font-size: 1.2rem;
}

.page-footer__link {
}

.page-footer__link a {
    color: #fff;
    padding: 0 10px;
    font-size: 1.2rem;
}