@charset "utf-8";

/* 共通部分 */
.common-inner {
    width: 960px;
    margin: 0 auto;
}

/* ヘッダー */
.page-header {
    background-image: url(../images/bg-main_visual.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    padding-top: 40%;
}

.page-header__logo {
    position: absolute;
    bottom: 60px;
    left: 60px;
}

/* メイン */
main {
    background-color: #fffff3;
}

/* イントロ */
.intro {
    text-align: center;
    padding: 100px;
}

.intro__title {
    font-size: 3.2rem;
    font-weight: bolder;
    line-height: 1.0;
    padding-bottom: 50px;
}

.intro__text {
    font-size: 1.6rem;
}

/* 画像セクション */

.photo-text-block {
    display: flex;
}

.photo-text-block > * {
    width: 50%;
}

.photo-text-block:nth-child(even) {
    flex-direction: row-reverse;
}

.photo-text-block__image {
    width: 480px;
}

.photo-text-block__text {
    margin: 30px 20px;
}

/* 導入企業セクション */


/* フッター */
.page-footer {
    background-color: #000;
    color: #fff;
    padding: 18px 10px;
    display: flex;
    justify-content: space-between;
}

.page-footer__copyright {
    font-size: 1.2rem;
}

.page-footer__link {
}

.page-footer__link a {
    color: #fff;
    padding: 0 10px;
    font-size: 1.2rem;
}